
#button, #colorarea, #counterarea {
    border: 1px solid blue;
    width: 250px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
}

#button input {
    width: 95%;
    height: 100px;  
}

h3.blue, h3.red, h3.green {
	margin-left: 15px;
}

